<p id="notice"><%= notice %></p>

<div class="container">
  <div class="item">
    <%= render 'form', insight: @new_insight %>
  </div>
  <% @insights.each do |insight| %>
    <div class="item">
      <pre>
        <%= insight.body %>
      </pre>
    </div>
  <% end %>
</div>
